.root {
  border: 1px solid #e4e5ea;
  border-radius: 16px;
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.container {
  flex: auto;
}

.item {
  display: flex;
  padding: 6px 16px;
}

.message {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 26.25rem;
  padding: 0.75rem;
  gap: 0.75rem;
  white-space: pre-wrap;
}

.message.in {
  background-color: #f2f3f4;
  border-radius: 12px 12px 12px 4px;
}

.message.out {
  background-color: #e0f0ff;
  margin-left: auto;
  border-radius: 12px 12px 4px;
}

.footer {
  border-top: 1px solid #e4e5ea;
  display: flex;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}

.textInput {
  flex: auto;
}
